SL-TB-Staging-pipeline.json
{"flowContents":{"identifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a","instanceIdentifier":"740e7615-0198-1000-8205-68e534436436","name":"Skinlaundry-TB-pipeline","comments":"Trialbalance orchestration from netsuite via merge.dev to supernova","position":{"x":-440.0,"y":80.0},"processGroups":[{"identifier":"b2baa111-75f3-3a92-b247-a68d0c106791","instanceIdentifier":"8d11c2c6-74b9-366f-195a-8de52f19c8db","name":"TB Transformation","comments":"","position":{"x":1848.0,"y":1144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c94b593d-c32c-3c7a-9e1a-42ef194290c8","instanceIdentifier":"2b3fdd7a-740a-345d-16c4-4126d499f73a","name":"ExecuteScript","comments":"","position":{"x":832.0,"y":560.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.5.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.*\n\n// Read the incoming flow file content (assumed to be a JSON array)\nflowFile = session.get()\nif (!flowFile) return\n\ninputStream = session.read(flowFile)\njsonContent = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\ninputStream.close()\n\n// Parse the JSON content\ndef jsonSlurper = new JsonSlurper()\ndef records = jsonSlurper.parseText(jsonContent)\n\n// Add sequential 'group' to each record, starting from g1\nint idCounter = 1\nrecords.each { record ->\n    record['group'] = \"g\" + idCounter\n    idCounter++\n}\n\n// Wrap the content in the required structure with 'client' and 'user'\ndef result = [\n    data: records,\n    client: \"681338a882c711001ecbc352\",\n    user: [\n        _id: \"65a90e681216120676712d95\"\n    ]\n]\n\n// Convert back to JSON string\ndef jsonBuilder = new JsonBuilder(result)\ndef outputContent = jsonBuilder.toPrettyString()\n\n// Write the modified JSON content back to the flow file\nflowFile = session.write(flowFile, { outputStream ->\n    outputStream.write(outputContent.getBytes(StandardCharsets.UTF_8))\n} as OutputStreamCallback)\n\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"},{"identifier":"c6753ef2-755a-3bc0-a24c-3bf47c4e2cb3","instanceIdentifier":"129f4b8f-0bd6-3c4c-c439-2e971e9cd746","name":"Route based on collection","comments":"","position":{"x":840.0,"y":136.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Routing Strategy":"Route to 'match' if any matches","gl_compute":"${filename:contains('_tb')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gl_compute":{"name":"gl_compute","displayName":"gl_compute","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"},{"identifier":"4988c167-18a5-35ec-9f1e-2b1568ae2b67","instanceIdentifier":"943f9438-553a-3ffa-bede-a09cc81cae3e","name":"UpdateAttribute","comments":"","position":{"x":840.0,"y":952.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"},{"identifier":"3b545fc2-214c-3295-aa96-a564ee2107b0","instanceIdentifier":"550f815c-6ec4-323b-95a6-8b834bcc348e","name":"InvokeHTTP","comments":"","position":{"x":840.0,"y":752.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"500 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"300 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://4595b56b5dad.ngrok-free.app/connectify_sync/685bf973ea22f4244b929581/SxhOkHCkKmW1BACRNBWvxGBMNuoXKG7clXomoKnLyExuGr1qucmWforopOeO","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"100 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"},{"identifier":"8f7baf77-1358-3f5c-89f9-a42b1f6a6c38","instanceIdentifier":"f9e49c39-cd95-3692-a6b3-9589eb780bda","name":"JSLTTransformJSON","comments":"","position":{"x":840.0,"y":360.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.5.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"{\n  \"glcode\": .glcode,\n  \"opening_amount\": .opening_amount,\n  \"transaction\": .transaction,\n  \"audit_entries\": .audit_entries,\n  \"closing_amount\": number(.closing_amount),\n  \"location\": \"SL Holdings Inc.\",\"group\":\"g\"\n}","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"EACH_OBJECT"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"}],"inputPorts":[{"identifier":"fac5189b-9646-3d67-833c-f9ef3a3679b3","instanceIdentifier":"e78c0fc3-ff3f-3bf6-3701-1949f040700f","name":"data","comments":"","position":{"x":896.0,"y":8.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"}],"outputPorts":[{"identifier":"407d9559-9adf-3594-bc51-4c01bd88d73b","instanceIdentifier":"839aa265-025f-3af2-ffc6-d6ed40943912","name":"response","position":{"x":864.0,"y":1160.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"}],"connections":[{"identifier":"639a578c-22f5-376c-8292-2fa4ce84eb2e","instanceIdentifier":"69caab21-5579-38dc-cb09-69b9fdf0d3c9","name":"","source":{"id":"c6753ef2-755a-3bc0-a24c-3bf47c4e2cb3","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"Route based on collection","comments":"","instanceIdentifier":"129f4b8f-0bd6-3c4c-c439-2e971e9cd746"},"destination":{"id":"8f7baf77-1358-3f5c-89f9-a42b1f6a6c38","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"f9e49c39-cd95-3692-a6b3-9589eb780bda"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"},{"identifier":"fb19028e-aafb-3d2d-aa84-99eb550092a4","instanceIdentifier":"f90fbf89-11ca-3ca3-4b94-d3f43164da82","name":"","source":{"id":"4988c167-18a5-35ec-9f1e-2b1568ae2b67","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"UpdateAttribute","comments":"","instanceIdentifier":"943f9438-553a-3ffa-bede-a09cc81cae3e"},"destination":{"id":"407d9559-9adf-3594-bc51-4c01bd88d73b","type":"OUTPUT_PORT","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"response","instanceIdentifier":"839aa265-025f-3af2-ffc6-d6ed40943912"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"},{"identifier":"bbbeddee-4e92-34ba-bfd5-26aeeb5a9b1a","instanceIdentifier":"9aa1af7c-3125-3177-043a-d4a3a3e57a65","name":"","source":{"id":"3b545fc2-214c-3295-aa96-a564ee2107b0","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"InvokeHTTP","comments":"","instanceIdentifier":"550f815c-6ec4-323b-95a6-8b834bcc348e"},"destination":{"id":"4988c167-18a5-35ec-9f1e-2b1568ae2b67","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"UpdateAttribute","comments":"","instanceIdentifier":"943f9438-553a-3ffa-bede-a09cc81cae3e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"},{"identifier":"fd037789-0fa2-3dec-8bf7-7ea55a167eed","instanceIdentifier":"f0e0d37f-7505-3efa-d518-901f11cc9fd3","name":"","source":{"id":"8f7baf77-1358-3f5c-89f9-a42b1f6a6c38","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"f9e49c39-cd95-3692-a6b3-9589eb780bda"},"destination":{"id":"c94b593d-c32c-3c7a-9e1a-42ef194290c8","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"ExecuteScript","comments":"","instanceIdentifier":"2b3fdd7a-740a-345d-16c4-4126d499f73a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"},{"identifier":"6957a9e7-73d9-3c54-963b-6cbf2d107f0a","instanceIdentifier":"5f218e1b-e06c-3b5e-f93a-98a4574ca191","name":"","source":{"id":"c94b593d-c32c-3c7a-9e1a-42ef194290c8","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"ExecuteScript","comments":"","instanceIdentifier":"2b3fdd7a-740a-345d-16c4-4126d499f73a"},"destination":{"id":"3b545fc2-214c-3295-aa96-a564ee2107b0","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"InvokeHTTP","comments":"","instanceIdentifier":"550f815c-6ec4-323b-95a6-8b834bcc348e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"},{"identifier":"5c106318-3758-37b5-9a54-eab604005bad","instanceIdentifier":"1554d459-9014-3f5e-5825-736ff4f1f7a1","name":"","source":{"id":"fac5189b-9646-3d67-833c-f9ef3a3679b3","type":"INPUT_PORT","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"data","comments":"","instanceIdentifier":"e78c0fc3-ff3f-3bf6-3701-1949f040700f"},"destination":{"id":"c6753ef2-755a-3bc0-a24c-3bf47c4e2cb3","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"Route based on collection","comments":"","instanceIdentifier":"129f4b8f-0bd6-3c4c-c439-2e971e9cd746"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"},{"identifier":"3991f178-1b53-39fa-b442-c22ed41ea2f7","instanceIdentifier":"25a042a1-e665-32db-9941-c453c14772c9","name":"","source":{"id":"8f7baf77-1358-3f5c-89f9-a42b1f6a6c38","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"f9e49c39-cd95-3692-a6b3-9589eb780bda"},"destination":{"id":"c94b593d-c32c-3c7a-9e1a-42ef194290c8","type":"PROCESSOR","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"ExecuteScript","comments":"","instanceIdentifier":"2b3fdd7a-740a-345d-16c4-4126d499f73a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b2baa111-75f3-3a92-b247-a68d0c106791"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"66de657d-10fe-355f-a968-b2f43b1b7903","instanceIdentifier":"46b5dddf-62e7-3c64-3a6f-f59855fb5a52","name":"LogSequenceEntry in DB","comments":"","position":{"x":2728.0,"y":272.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6356353c-5d93-397a-8962-a00bf69e8eae","instanceIdentifier":"16d082ae-45c0-3b2d-9b25-abc35584435d","name":"LogAttribute","comments":"","position":{"x":232.0,"y":640.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66de657d-10fe-355f-a968-b2f43b1b7903"},{"identifier":"9d1eab2d-1b0c-3568-8f35-ad5eb609f0da","instanceIdentifier":"b024b547-2c5c-3857-c04d-1dff483d28c4","name":"Put in DataProcessingMatrix","comments":"","position":{"x":624.0,"y":504.0},"type":"org.apache.nifi.processors.mongodb.PutMongoRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.5.0"},"properties":{"mongo-client-service":"dac97c4b-173c-323a-8402-99d1ff015bf0","ordered":"False","insert_count":"100","update-key-fields":null,"ssl-client-auth":"REQUIRED","Mongo Collection Name":"#{collection}","update-mode":"one","record-reader":"ffb38060-1892-356a-9804-fc642c84d12d","bypass-validation":"True","Mongo Database Name":"#{client_db}","Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ordered":{"name":"ordered","displayName":"Ordered","identifiesControllerService":false,"sensitive":false,"dynamic":false},"insert_count":{"name":"insert_count","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"update-key-fields":{"name":"update-key-fields","displayName":"Update Key Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"ssl-client-auth","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"update-mode":{"name":"update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bypass-validation":{"name":"bypass-validation","displayName":"Bypass Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66de657d-10fe-355f-a968-b2f43b1b7903"},{"identifier":"29006682-25a2-31c6-bb63-de03418f60fd","instanceIdentifier":"d628f994-5601-3faf-7afc-ae871029344b","name":"LogAttribute","comments":"","position":{"x":1016.0,"y":624.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66de657d-10fe-355f-a968-b2f43b1b7903"},{"identifier":"6074813f-e559-305e-88e3-d81e556eead1","instanceIdentifier":"c492f4f3-46fc-31ab-5d43-ea2a75628fa0","name":"Create Object for DataProcessing","comments":"","position":{"x":624.0,"y":256.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.5.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"#{log_jslt_generator}","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"EACH_OBJECT"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"66de657d-10fe-355f-a968-b2f43b1b7903"}],"inputPorts":[{"identifier":"19fa458a-1de4-3535-9114-c1d1023af4c6","instanceIdentifier":"73d8ca57-49e1-3327-3529-05ebc91ac996","name":"GetConfigFile","position":{"x":672.0,"y":64.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"66de657d-10fe-355f-a968-b2f43b1b7903"}],"outputPorts":[],"connections":[{"identifier":"966bcb36-7fd2-3e62-9425-1362170ba662","instanceIdentifier":"276813d6-7b1d-3f7a-b172-86cae9030060","name":"","source":{"id":"9d1eab2d-1b0c-3568-8f35-ad5eb609f0da","type":"PROCESSOR","groupId":"66de657d-10fe-355f-a968-b2f43b1b7903","name":"Put in DataProcessingMatrix","comments":"","instanceIdentifier":"b024b547-2c5c-3857-c04d-1dff483d28c4"},"destination":{"id":"29006682-25a2-31c6-bb63-de03418f60fd","type":"PROCESSOR","groupId":"66de657d-10fe-355f-a968-b2f43b1b7903","name":"LogAttribute","comments":"","instanceIdentifier":"d628f994-5601-3faf-7afc-ae871029344b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66de657d-10fe-355f-a968-b2f43b1b7903"},{"identifier":"618af5ad-b398-3560-bb6c-d8b57fb3653b","instanceIdentifier":"ebabb492-17d5-32f2-8c23-44411a0036bc","name":"","source":{"id":"19fa458a-1de4-3535-9114-c1d1023af4c6","type":"INPUT_PORT","groupId":"66de657d-10fe-355f-a968-b2f43b1b7903","name":"GetConfigFile","instanceIdentifier":"73d8ca57-49e1-3327-3529-05ebc91ac996"},"destination":{"id":"6074813f-e559-305e-88e3-d81e556eead1","type":"PROCESSOR","groupId":"66de657d-10fe-355f-a968-b2f43b1b7903","name":"Create Object for DataProcessing","comments":"","instanceIdentifier":"c492f4f3-46fc-31ab-5d43-ea2a75628fa0"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66de657d-10fe-355f-a968-b2f43b1b7903"},{"identifier":"d6689534-4a5d-3027-b7c1-fad2756fb080","instanceIdentifier":"2f2aa3f0-07b9-3d7d-3b6d-9f1ad1e0dd43","name":"","source":{"id":"9d1eab2d-1b0c-3568-8f35-ad5eb609f0da","type":"PROCESSOR","groupId":"66de657d-10fe-355f-a968-b2f43b1b7903","name":"Put in DataProcessingMatrix","comments":"","instanceIdentifier":"b024b547-2c5c-3857-c04d-1dff483d28c4"},"destination":{"id":"6356353c-5d93-397a-8962-a00bf69e8eae","type":"PROCESSOR","groupId":"66de657d-10fe-355f-a968-b2f43b1b7903","name":"LogAttribute","comments":"","instanceIdentifier":"16d082ae-45c0-3b2d-9b25-abc35584435d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66de657d-10fe-355f-a968-b2f43b1b7903"},{"identifier":"aad63e31-69d4-36d1-a6a6-dee87accf930","instanceIdentifier":"9dbe1e78-daf2-31d4-d168-dfcba6a71c24","name":"","source":{"id":"6074813f-e559-305e-88e3-d81e556eead1","type":"PROCESSOR","groupId":"66de657d-10fe-355f-a968-b2f43b1b7903","name":"Create Object for DataProcessing","comments":"","instanceIdentifier":"c492f4f3-46fc-31ab-5d43-ea2a75628fa0"},"destination":{"id":"9d1eab2d-1b0c-3568-8f35-ad5eb609f0da","type":"PROCESSOR","groupId":"66de657d-10fe-355f-a968-b2f43b1b7903","name":"Put in DataProcessingMatrix","comments":"","instanceIdentifier":"b024b547-2c5c-3857-c04d-1dff483d28c4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66de657d-10fe-355f-a968-b2f43b1b7903"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"excel_tracker_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"2decbcc8-2022-3fad-96c1-2b0592df90e5","instanceIdentifier":"3c5c92c9-914d-3034-14e0-376c89169044","name":"AppendStepInSequence","comments":"","position":{"x":2736.0,"y":584.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"83534f6b-52c8-367f-923d-686f62a2a7b8","instanceIdentifier":"7ef0ec47-266a-303e-e34a-f8e6b8373fc6","name":"JSLTTransformJSON","comments":"","position":{"x":632.0,"y":256.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.5.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"[\n    {\n      \n      \"request_url\": .request_url,\n      \"type\": .type,\n      \"subtype\": .subtype,\n      \"request_type\": .request_type,\n      \"erp_type\": .erp_type,\n      \"transaction_type\": .transaction_type,\n      \"method\": .method,\n      \"path\": .path,\n      \"headers\": .headers,\n      \"request_method\": .request_method,\n      \"param_differntial\": .param_differntial,\n      \"cursor\": .cursor,\n      \"request_format\": .request_format,\n      \"syncstatus\": \"inprogress\",\n      \"synctype\": \"manual\",\n      \"steps\": [\n        {\n          \"component\": \"filelisting\",\n          \"component_id\": \"FetchFile\",\n          \"status\": \"done\"\n        }\n      ]\n    }\n]","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"EACH_OBJECT"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2decbcc8-2022-3fad-96c1-2b0592df90e5"},{"identifier":"0a1f44e0-92ed-3385-83e2-cf4697dd4cbc","instanceIdentifier":"0ecde7b2-07c6-3a17-0fff-66f4624b3a7f","name":"PutMongoRecord","comments":"","position":{"x":632.0,"y":504.0},"type":"org.apache.nifi.processors.mongodb.PutMongoRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.5.0"},"properties":{"mongo-client-service":"dac97c4b-173c-323a-8402-99d1ff015bf0","ordered":"False","insert_count":"100","update-key-fields":null,"ssl-client-auth":"REQUIRED","Mongo Collection Name":"bookclosure_dataprocessing_matrix","update-mode":"one","record-reader":"ffb38060-1892-356a-9804-fc642c84d12d","bypass-validation":"True","Mongo Database Name":"c10000000088","Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ordered":{"name":"ordered","displayName":"Ordered","identifiesControllerService":false,"sensitive":false,"dynamic":false},"insert_count":{"name":"insert_count","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"update-key-fields":{"name":"update-key-fields","displayName":"Update Key Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"ssl-client-auth","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"update-mode":{"name":"update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bypass-validation":{"name":"bypass-validation","displayName":"Bypass Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2decbcc8-2022-3fad-96c1-2b0592df90e5"}],"inputPorts":[{"identifier":"991d7fc9-3012-3c89-8cf7-d5c00bc0b700","instanceIdentifier":"1f1de55d-2a44-3ca0-a8e9-0334dfaf7992","name":"GetConfigFile","position":{"x":688.0,"y":72.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"2decbcc8-2022-3fad-96c1-2b0592df90e5"}],"outputPorts":[],"connections":[{"identifier":"c73a23bd-05c5-354a-9495-95812938cb3d","instanceIdentifier":"56182f16-cf89-3193-6d90-54feaf575c4e","name":"","source":{"id":"83534f6b-52c8-367f-923d-686f62a2a7b8","type":"PROCESSOR","groupId":"2decbcc8-2022-3fad-96c1-2b0592df90e5","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"7ef0ec47-266a-303e-e34a-f8e6b8373fc6"},"destination":{"id":"0a1f44e0-92ed-3385-83e2-cf4697dd4cbc","type":"PROCESSOR","groupId":"2decbcc8-2022-3fad-96c1-2b0592df90e5","name":"PutMongoRecord","comments":"","instanceIdentifier":"0ecde7b2-07c6-3a17-0fff-66f4624b3a7f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2decbcc8-2022-3fad-96c1-2b0592df90e5"},{"identifier":"2ce8e6c4-dade-3abc-8319-b9c8956d8058","instanceIdentifier":"321f403e-7841-3b8d-3840-1fa8e90743fb","name":"","source":{"id":"991d7fc9-3012-3c89-8cf7-d5c00bc0b700","type":"INPUT_PORT","groupId":"2decbcc8-2022-3fad-96c1-2b0592df90e5","name":"GetConfigFile","instanceIdentifier":"1f1de55d-2a44-3ca0-a8e9-0334dfaf7992"},"destination":{"id":"83534f6b-52c8-367f-923d-686f62a2a7b8","type":"PROCESSOR","groupId":"2decbcc8-2022-3fad-96c1-2b0592df90e5","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"7ef0ec47-266a-303e-e34a-f8e6b8373fc6"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2decbcc8-2022-3fad-96c1-2b0592df90e5"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"excel_tracker_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80","instanceIdentifier":"fa0851fd-10f2-3f3b-301e-0da7dddec198","name":"get Data from Merge/Passthrough","comments":"","position":{"x":1856.0,"y":584.0},"processGroups":[{"identifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602","instanceIdentifier":"e4a2b55c-60e2-394b-ee4a-92cdbb1d4018","name":"FromMerge","comments":"","position":{"x":584.0,"y":80.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5d87f420-54d5-3b72-94e8-a954e2f0c22f","instanceIdentifier":"4599c30d-7b97-38f5-fde0-bc55b3ded70a","name":"Route on 'SKIN LAUNDRY Passthrough'","comments":"","position":{"x":48.0,"y":88.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Routing Strategy":"Route to 'match' if all match","type":"${json:jsonPath('$.subtype'):equals('passthrough')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"type":{"name":"type","displayName":"type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"72dccf10-35d4-3cc1-bb62-c5fb4b0b3d25","instanceIdentifier":"cbc6aeb4-c62a-3c25-a947-16cb0265fbe7","name":"EvaluateJsonPath","comments":"","position":{"x":32.0,"y":1344.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-content","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","trialbalance":"$.trialbalance","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"trialbalance":{"name":"trialbalance","displayName":"trialbalance","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"cd00699c-2e59-3c7b-817a-5a88461c792e","instanceIdentifier":"b5a5a894-c528-3ed4-333a-49aadefd170d","name":"JSLTTransformJSON","comments":"","position":{"x":32.0,"y":1120.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.5.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"{\n  \"trialbalance\": [\n    for (.response.items)\n    let opening_debit   = if (.op_dr) number(.op_dr) else 0\n    let opening_credit   = if (.op_cr) number(.op_cr) else 0\n    let closing_debit   = if (.closing_debit) number(.closing_debit) else 0\n    let closing_credit  = if (.closing_credit) number(.closing_credit) else 0\n    let transaction_debit   = if (.trnx_dr) number(.trnx_dr) else 0\n    let transaction_credit   = if (.trnx_cr) number(.trnx_cr) else 0\n    let transaction     = $transaction_debit - $transaction_credit\n    let raw_endbalance  = $closing_debit - $closing_credit\n    let endbalance      = round($raw_endbalance * 100) / 100\n    let raw_startbalance = $opening_debit - $opening_credit\n    let startbalance      = round($raw_startbalance * 100) / 100\n   {\n      \"glcode\":         .acctnumber,\n      \"transaction\":    $transaction,\n      \"audit_entries\":  0,\n      \"closing_amount\": $endbalance,\n      \"opening_amount\": $startbalance,\n      \"location\":       .subsidiary,\n      \"currency\":       \"dollar\"\n    }\n  ]\n}","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"ENTIRE_FLOWFILE"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"fe4291a3-acd1-3f14-bab0-039e70f3613a","instanceIdentifier":"a13b0860-1021-3336-9fe5-5e4150e650a1","name":"InvokeHTTP","comments":"","position":{"x":32.0,"y":912.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"60 secs","Response Cookie Strategy":"DISABLED","Authorization":"Bearer DiN5uY_-cV2t3CNQCVZ3GSzGd2kgT1ZaIegtK7KBbkYUZtULdYd6TA","Socket Read Timeout":"60 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.merge.dev/api/accounting/v1/passthrough","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"60 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","X-ACCOUNT-TOKEN":"kTxgJK3J8mkuUS63EzcG9wjHUrKY7cMzx0ciqE71uRBGr5_o4Iv4wQ","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"X-ACCOUNT-TOKEN":{"name":"X-ACCOUNT-TOKEN","displayName":"X-ACCOUNT-TOKEN","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"3a3fba8d-a593-3c28-a64b-065f97b70dfe","instanceIdentifier":"5d3c1c87-8944-38c6-514f-d8b7fb945a28","name":"AttributesToJSON","comments":"","position":{"x":32.0,"y":480.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"body","Pretty Print":"true","Include Core Attributes":"true","JSON Handling Strategy":"NESTED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"20bddb97-95e9-3129-b55b-484ef442d90e","instanceIdentifier":"56f541b1-174f-313d-10f8-82d07f27b153","name":"JSLTTransformJSON","comments":"","position":{"x":32.0,"y":672.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.5.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"{\n  \"method\" : .body.method,\n  \"path\" : .body.path,\n  \"request_format\" : .body.request_format,\n  \"headers\" : .body.headers,\n  \"data\" : .body.data\n}","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"ENTIRE_FLOWFILE"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"a83c386e-23d5-3bcb-9ab0-a33de44abb64","instanceIdentifier":"546f6102-b7b8-38f8-a0ef-37e99df7d133","name":"UpdateAttribute","comments":"","position":{"x":40.0,"y":288.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"body":"{\n\"method\": \"POST\",\n\"path\": \"/rest/query/v1/suiteql\",\n\"headers\": {\n\"Prefer\": \"transient\"\n},\n\"data\":  {\"q\":\"SELECT TL.subsidiary, TAL.account, acc.acctnumber, SUM(TAL.DEBIT) CLOSING_DEBIT, SUM(TAL.CREDIT) CLOSING_CREDIT, NVL(TRNX.TRNX_DR, 0) TRNX_DR, NVL(TRNX.TRNX_CR, 0) TRNX_CR, SUM(TAL.DEBIT) - NVL(TRNX.TRNX_DR, 0) AS OP_DR, SUM(TAL.CREDIT) - NVL(TRNX.TRNX_CR, 0) AS OP_CR FROM transaction TR INNER JOIN transactionLine TL ON TR.ID = TL.transaction INNER JOIN TransactionAccountingLine TAL ON TL.ID = TAL.transactionline AND TAL.transaction = TL.transaction LEFT JOIN account ACC ON TAL.account = ACC.ID LEFT JOIN (SELECT TL.subsidiary AS TRNX_SUBSIDIARY, TAL.account AS TRNX_ACCOUNT, SUM(TAL.DEBIT) AS TRNX_DR, SUM(TAL.CREDIT) AS TRNX_CR FROM transaction TR INNER JOIN transactionLine TL ON TR.ID = TL.transaction INNER JOIN TransactionAccountingLine TAL ON TL.ID = TAL.transactionline AND TAL.transaction = TL.transaction LEFT JOIN account ACC ON TAL.account = ACC.ID WHERE TR.trandate >= '06/01/2025' AND TR.trandate <= '06/30/2025' AND TAL.amount IS NOT NULL AND TR.posting = 'T' AND TL.subsidiary = 3 GROUP BY TL.subsidiary, TAL.account ORDER BY TL.subsidiary, TAL.account) TRNX ON TRNX.TRNX_SUBSIDIARY = TL.subsidiary AND TRNX.TRNX_ACCOUNT = TAL.account WHERE TR.trandate <= '06/30/2025' AND TAL.amount IS NOT NULL AND TR.posting = 'T' AND TL.subsidiary = 3 GROUP BY TL.subsidiary, TAL.account, acc.acctnumber, TRNX.TRNX_DR, TRNX.TRNX_CR ORDER BY TL.subsidiary, acc.acctnumber;\"},\n\"request_format\": \"JSON\"\n}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"body":{"name":"body","displayName":"body","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"}],"inputPorts":[{"identifier":"00e07773-3128-30b8-a3b8-d7666f5edd27","instanceIdentifier":"536497a2-04a1-3a5a-fff3-5225058564d4","name":"merge","comments":"","position":{"x":112.0,"y":-112.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"}],"outputPorts":[{"identifier":"1f162adf-eb59-3757-a649-8cb012fdb19e","instanceIdentifier":"946299ce-b120-3d3d-d23f-00e63c4da1e6","name":"transformation","position":{"x":88.0,"y":1688.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"}],"connections":[{"identifier":"69fcf281-3e0c-3a7c-950e-136e31670d74","instanceIdentifier":"c876c393-99cd-3d0b-5f98-863b2ed7ea36","name":"","source":{"id":"00e07773-3128-30b8-a3b8-d7666f5edd27","type":"INPUT_PORT","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"merge","comments":"","instanceIdentifier":"536497a2-04a1-3a5a-fff3-5225058564d4"},"destination":{"id":"5d87f420-54d5-3b72-94e8-a954e2f0c22f","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"Route on 'SKIN LAUNDRY Passthrough'","comments":"","instanceIdentifier":"4599c30d-7b97-38f5-fde0-bc55b3ded70a"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"19cc59e0-1126-37c0-ae97-cae348307f75","instanceIdentifier":"b856fd7c-bed0-3031-13b3-1e6228e79673","name":"","source":{"id":"cd00699c-2e59-3c7b-817a-5a88461c792e","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"b5a5a894-c528-3ed4-333a-49aadefd170d"},"destination":{"id":"72dccf10-35d4-3cc1-bb62-c5fb4b0b3d25","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cbc6aeb4-c62a-3c25-a947-16cb0265fbe7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"995b0b4e-c1c3-3983-9623-7bc58864bcd3","instanceIdentifier":"4aa8632e-4a24-3fcb-ae33-17fed63d76c9","name":"","source":{"id":"3a3fba8d-a593-3c28-a64b-065f97b70dfe","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"AttributesToJSON","comments":"","instanceIdentifier":"5d3c1c87-8944-38c6-514f-d8b7fb945a28"},"destination":{"id":"20bddb97-95e9-3129-b55b-484ef442d90e","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"56f541b1-174f-313d-10f8-82d07f27b153"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"531c2179-151a-38da-b5a1-bd78af58e69d","instanceIdentifier":"693dfee9-6a50-3958-7924-85f28a2d9642","name":"","source":{"id":"72dccf10-35d4-3cc1-bb62-c5fb4b0b3d25","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"cbc6aeb4-c62a-3c25-a947-16cb0265fbe7"},"destination":{"id":"1f162adf-eb59-3757-a649-8cb012fdb19e","type":"OUTPUT_PORT","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"transformation","instanceIdentifier":"946299ce-b120-3d3d-d23f-00e63c4da1e6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"9ec8338c-951a-3576-97aa-790fc37e83de","instanceIdentifier":"d3b57081-1272-38f5-c490-aaaad01b3d27","name":"","source":{"id":"5d87f420-54d5-3b72-94e8-a954e2f0c22f","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"Route on 'SKIN LAUNDRY Passthrough'","comments":"","instanceIdentifier":"4599c30d-7b97-38f5-fde0-bc55b3ded70a"},"destination":{"id":"a83c386e-23d5-3bcb-9ab0-a33de44abb64","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"UpdateAttribute","comments":"","instanceIdentifier":"546f6102-b7b8-38f8-a0ef-37e99df7d133"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"3733c7c1-e139-3a04-916a-96c47782228c","instanceIdentifier":"7d90acf0-4832-31ac-e8ee-a9881bb17939","name":"","source":{"id":"a83c386e-23d5-3bcb-9ab0-a33de44abb64","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"UpdateAttribute","comments":"","instanceIdentifier":"546f6102-b7b8-38f8-a0ef-37e99df7d133"},"destination":{"id":"3a3fba8d-a593-3c28-a64b-065f97b70dfe","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"AttributesToJSON","comments":"","instanceIdentifier":"5d3c1c87-8944-38c6-514f-d8b7fb945a28"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"83f8c8e6-23f3-38f0-a556-bca8c6679833","instanceIdentifier":"8bdf596a-356f-31b6-6436-716270ea8328","name":"","source":{"id":"20bddb97-95e9-3129-b55b-484ef442d90e","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"56f541b1-174f-313d-10f8-82d07f27b153"},"destination":{"id":"fe4291a3-acd1-3f14-bab0-039e70f3613a","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"InvokeHTTP","comments":"","instanceIdentifier":"a13b0860-1021-3336-9fe5-5e4150e650a1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"073aef61-02be-32c4-ae98-e482e6f1a73c","instanceIdentifier":"2d71b320-c320-3453-14a6-ee77e22b18f1","name":"","source":{"id":"5d87f420-54d5-3b72-94e8-a954e2f0c22f","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"Route on 'SKIN LAUNDRY Passthrough'","comments":"","instanceIdentifier":"4599c30d-7b97-38f5-fde0-bc55b3ded70a"},"destination":{"id":"a83c386e-23d5-3bcb-9ab0-a33de44abb64","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"UpdateAttribute","comments":"","instanceIdentifier":"546f6102-b7b8-38f8-a0ef-37e99df7d133"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"},{"identifier":"7eebbc08-5a08-3a45-9871-d1b6245c4bdb","instanceIdentifier":"e5ddc512-7f0a-3aa6-7e87-3bba035ec99f","name":"","source":{"id":"fe4291a3-acd1-3f14-bab0-039e70f3613a","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"InvokeHTTP","comments":"","instanceIdentifier":"a13b0860-1021-3336-9fe5-5e4150e650a1"},"destination":{"id":"cd00699c-2e59-3c7b-817a-5a88461c792e","type":"PROCESSOR","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"b5a5a894-c528-3ed4-333a-49aadefd170d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f930f44-f90b-3352-a0d8-32a1b0d45602"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"skinlaundry_tb_param_context","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80"},{"identifier":"1c10ef68-2fc5-389c-a57f-cf83d8a15657","instanceIdentifier":"b0cfbc07-55bf-3c2a-3d21-498bb815ca41","name":"Set Attributes to JSON ","comments":"","position":{"x":584.0,"y":-536.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"acfa54a2-9f67-31d8-84d8-c9d7395c47fb","instanceIdentifier":"299078f7-7b79-346d-1bef-7e9e199f0b81","name":"Append Attributes to JSON content","comments":"","position":{"x":632.0,"y":472.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","json":"(?s)(^.*$)","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"json":{"name":"json","displayName":"json","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1c10ef68-2fc5-389c-a57f-cf83d8a15657"},{"identifier":"ae4a20dc-2711-381f-b9f9-675dca3e5761","instanceIdentifier":"a9a6adb4-4d0e-3f96-9d80-d530f2695c7a","name":"Get Attributes","comments":"","position":{"x":632.0,"y":248.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"$1","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1c10ef68-2fc5-389c-a57f-cf83d8a15657"}],"inputPorts":[{"identifier":"8f4b54ae-8a3f-301a-ae30-0ae824f0b643","instanceIdentifier":"9c369d7a-70fe-3115-124a-02a0f6998798","name":"config file input","position":{"x":688.0,"y":96.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"1c10ef68-2fc5-389c-a57f-cf83d8a15657"}],"outputPorts":[{"identifier":"e9ea16fc-8717-3cd6-b597-9edddd279ae1","instanceIdentifier":"b6a7ad95-cd72-3e92-c027-256d655efc07","name":"json","position":{"x":688.0,"y":720.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"1c10ef68-2fc5-389c-a57f-cf83d8a15657"}],"connections":[{"identifier":"ba79ba69-a689-3e67-a5f7-34cac057fe4e","instanceIdentifier":"b3ab9090-8f15-393c-e115-c3b5554463bc","name":"","source":{"id":"acfa54a2-9f67-31d8-84d8-c9d7395c47fb","type":"PROCESSOR","groupId":"1c10ef68-2fc5-389c-a57f-cf83d8a15657","name":"Append Attributes to JSON content","comments":"","instanceIdentifier":"299078f7-7b79-346d-1bef-7e9e199f0b81"},"destination":{"id":"e9ea16fc-8717-3cd6-b597-9edddd279ae1","type":"OUTPUT_PORT","groupId":"1c10ef68-2fc5-389c-a57f-cf83d8a15657","name":"json","instanceIdentifier":"b6a7ad95-cd72-3e92-c027-256d655efc07"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c10ef68-2fc5-389c-a57f-cf83d8a15657"},{"identifier":"f891dfbd-7ecb-3eb9-8d04-5070e6e9cd36","instanceIdentifier":"0c10ba84-78ca-3fb4-5f7d-1b74b236163f","name":"","source":{"id":"ae4a20dc-2711-381f-b9f9-675dca3e5761","type":"PROCESSOR","groupId":"1c10ef68-2fc5-389c-a57f-cf83d8a15657","name":"Get Attributes","comments":"","instanceIdentifier":"a9a6adb4-4d0e-3f96-9d80-d530f2695c7a"},"destination":{"id":"acfa54a2-9f67-31d8-84d8-c9d7395c47fb","type":"PROCESSOR","groupId":"1c10ef68-2fc5-389c-a57f-cf83d8a15657","name":"Append Attributes to JSON content","comments":"","instanceIdentifier":"299078f7-7b79-346d-1bef-7e9e199f0b81"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c10ef68-2fc5-389c-a57f-cf83d8a15657"},{"identifier":"81b5fc27-1589-3ef1-b9bb-03742e7fa230","instanceIdentifier":"9cb46493-d111-395d-7df3-bcb01ecb57cc","name":"","source":{"id":"8f4b54ae-8a3f-301a-ae30-0ae824f0b643","type":"INPUT_PORT","groupId":"1c10ef68-2fc5-389c-a57f-cf83d8a15657","name":"config file input","instanceIdentifier":"9c369d7a-70fe-3115-124a-02a0f6998798"},"destination":{"id":"ae4a20dc-2711-381f-b9f9-675dca3e5761","type":"PROCESSOR","groupId":"1c10ef68-2fc5-389c-a57f-cf83d8a15657","name":"Get Attributes","comments":"","instanceIdentifier":"a9a6adb4-4d0e-3f96-9d80-d530f2695c7a"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1c10ef68-2fc5-389c-a57f-cf83d8a15657"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"skinlaundry_tb_param_context","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80"}],"remoteProcessGroups":[],"processors":[{"identifier":"a86e216b-bd11-3cd3-8a62-f0bf344b9d11","instanceIdentifier":"8eb7d03f-a5be-3b51-27de-cdacdd442ba6","name":"Route on 'Merge'","comments":"","position":{"x":600.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Routing Strategy":"Route to 'match' if all match","type":"${json:jsonPath('$.type'):equals('merge')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"type":{"name":"type","displayName":"type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80"}],"inputPorts":[{"identifier":"39d14607-24e1-3c96-8965-4b99672d09cc","instanceIdentifier":"5b5da3d5-7be5-3fbb-6ccc-2c146f336efc","name":"GetConfigFile","comments":"","position":{"x":656.0,"y":-728.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80"}],"outputPorts":[{"identifier":"675c3b88-a9c4-3ad2-8010-66adad2db0f4","instanceIdentifier":"034c9021-45c9-30b8-19e3-3f8239355601","name":"data","comments":"","position":{"x":656.0,"y":416.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80"}],"connections":[{"identifier":"01eabc18-ec53-3ba2-b8f1-c8368a6d3db8","instanceIdentifier":"6bb53223-4e38-3a76-a624-9ba521b6f969","name":"","source":{"id":"39d14607-24e1-3c96-8965-4b99672d09cc","type":"INPUT_PORT","groupId":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80","name":"GetConfigFile","comments":"","instanceIdentifier":"5b5da3d5-7be5-3fbb-6ccc-2c146f336efc"},"destination":{"id":"8f4b54ae-8a3f-301a-ae30-0ae824f0b643","type":"INPUT_PORT","groupId":"1c10ef68-2fc5-389c-a57f-cf83d8a15657","name":"config file input","instanceIdentifier":"9c369d7a-70fe-3115-124a-02a0f6998798"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80"},{"identifier":"9a60a05f-8e94-3cb4-8462-c6ebf18b690b","instanceIdentifier":"69aa4e30-0b9c-386b-b450-4e25d2bfd4a2","name":"","source":{"id":"e9ea16fc-8717-3cd6-b597-9edddd279ae1","type":"OUTPUT_PORT","groupId":"1c10ef68-2fc5-389c-a57f-cf83d8a15657","name":"json","instanceIdentifier":"b6a7ad95-cd72-3e92-c027-256d655efc07"},"destination":{"id":"a86e216b-bd11-3cd3-8a62-f0bf344b9d11","type":"PROCESSOR","groupId":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80","name":"Route on 'Merge'","comments":"","instanceIdentifier":"8eb7d03f-a5be-3b51-27de-cdacdd442ba6"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80"},{"identifier":"fcd26677-e4ba-344e-99ef-2848a05eba0a","instanceIdentifier":"3405722f-14b3-3618-0d43-172707dee4f6","name":"","source":{"id":"1f162adf-eb59-3757-a649-8cb012fdb19e","type":"OUTPUT_PORT","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"transformation","instanceIdentifier":"946299ce-b120-3d3d-d23f-00e63c4da1e6"},"destination":{"id":"675c3b88-a9c4-3ad2-8010-66adad2db0f4","type":"OUTPUT_PORT","groupId":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80","name":"data","comments":"","instanceIdentifier":"034c9021-45c9-30b8-19e3-3f8239355601"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80"},{"identifier":"fef6c9ac-bb1a-38f0-9433-e96e2ac43d52","instanceIdentifier":"8e3e9901-323d-3e8d-59bd-8ded423cba26","name":"","source":{"id":"a86e216b-bd11-3cd3-8a62-f0bf344b9d11","type":"PROCESSOR","groupId":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80","name":"Route on 'Merge'","comments":"","instanceIdentifier":"8eb7d03f-a5be-3b51-27de-cdacdd442ba6"},"destination":{"id":"00e07773-3128-30b8-a3b8-d7666f5edd27","type":"INPUT_PORT","groupId":"1f930f44-f90b-3352-a0d8-32a1b0d45602","name":"merge","comments":"","instanceIdentifier":"536497a2-04a1-3a5a-fff3-5225058564d4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"skinlaundry_tb_param_context","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"d478bab8-6c6a-363a-9a33-2986335a6821","instanceIdentifier":"46aa8af4-affa-3d7f-c3b4-44022f65f1e9","name":"AppendStepInSequence","comments":"","position":{"x":1840.0,"y":1608.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"749f62c8-af44-3116-95f5-dfdc63762e9c","instanceIdentifier":"acba603e-045a-336a-f729-705a3aa19aa6","name":"JSLTTransformJSON","comments":"","position":{"x":632.0,"y":256.0},"type":"org.apache.nifi.processors.jslt.JSLTTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jslt-nar","version":"2.5.0"},"properties":{"jslt-transform-pretty_print":"false","jslt-transform-result-filter":". != null and . != {} and . != []","jslt-transform-transformation":"[\n    {\n      \n      \"request_url\": .request_url,\n      \"type\": .type,\n      \"subtype\": .subtype,\n      \"request_type\": .request_type,\n      \"erp_type\": .erp_type,\n      \"transaction_type\": .transaction_type,\n      \"method\": .method,\n      \"path\": .path,\n      \"headers\": .headers,\n      \"request_method\": .request_method,\n      \"param_differntial\": .param_differntial,\n      \"cursor\": .cursor,\n      \"request_format\": .request_format,\n      \"syncstatus\": \"inprogress\",\n      \"synctype\": \"manual\",\n      \"steps\": [\n        {\n          \"component\": \"filelisting\",\n          \"component_id\": \"FetchFile\",\n          \"status\": \"done\"\n        }\n      ]\n    }\n]","jslt-transform-cache-size":"1","jslt-transform-transformation-strategy":"EACH_OBJECT"},"propertyDescriptors":{"jslt-transform-pretty_print":{"name":"jslt-transform-pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-result-filter":{"name":"jslt-transform-result-filter","displayName":"Transform Result Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation":{"name":"jslt-transform-transformation","displayName":"JSLT Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jslt-transform-cache-size":{"name":"jslt-transform-cache-size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"jslt-transform-transformation-strategy":{"name":"jslt-transform-transformation-strategy","displayName":"Transformation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d478bab8-6c6a-363a-9a33-2986335a6821"},{"identifier":"f4518a03-e578-31fc-9e35-07775351cfa7","instanceIdentifier":"6280963d-8ffb-3697-2413-5477c95981c3","name":"PutMongoRecord","comments":"","position":{"x":632.0,"y":504.0},"type":"org.apache.nifi.processors.mongodb.PutMongoRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.5.0"},"properties":{"mongo-client-service":"dac97c4b-173c-323a-8402-99d1ff015bf0","ordered":"False","insert_count":"100","update-key-fields":null,"ssl-client-auth":"REQUIRED","Mongo Collection Name":"bookclosure_dataprocessing_matrix","update-mode":"one","record-reader":"ffb38060-1892-356a-9804-fc642c84d12d","bypass-validation":"True","Mongo Database Name":"c10000000088","Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ordered":{"name":"ordered","displayName":"Ordered","identifiesControllerService":false,"sensitive":false,"dynamic":false},"insert_count":{"name":"insert_count","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"update-key-fields":{"name":"update-key-fields","displayName":"Update Key Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"ssl-client-auth","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"update-mode":{"name":"update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bypass-validation":{"name":"bypass-validation","displayName":"Bypass Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d478bab8-6c6a-363a-9a33-2986335a6821"}],"inputPorts":[{"identifier":"fee2dc2f-daa2-3450-a420-a26df990f189","instanceIdentifier":"5224c76c-62b7-3120-22a0-c2d4831d69a5","name":"GetConfigFile","position":{"x":688.0,"y":72.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"d478bab8-6c6a-363a-9a33-2986335a6821"}],"outputPorts":[],"connections":[{"identifier":"8a0c9a0c-6816-36e8-a489-771de6529f60","instanceIdentifier":"50a62456-43ff-3fdc-8572-1b101002e6a2","name":"","source":{"id":"749f62c8-af44-3116-95f5-dfdc63762e9c","type":"PROCESSOR","groupId":"d478bab8-6c6a-363a-9a33-2986335a6821","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"acba603e-045a-336a-f729-705a3aa19aa6"},"destination":{"id":"f4518a03-e578-31fc-9e35-07775351cfa7","type":"PROCESSOR","groupId":"d478bab8-6c6a-363a-9a33-2986335a6821","name":"PutMongoRecord","comments":"","instanceIdentifier":"6280963d-8ffb-3697-2413-5477c95981c3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d478bab8-6c6a-363a-9a33-2986335a6821"},{"identifier":"9985b6d0-ade5-33b2-8c82-c151beb702ff","instanceIdentifier":"32d27498-64ff-3b0a-bb19-d41c2cc2dc57","name":"","source":{"id":"fee2dc2f-daa2-3450-a420-a26df990f189","type":"INPUT_PORT","groupId":"d478bab8-6c6a-363a-9a33-2986335a6821","name":"GetConfigFile","instanceIdentifier":"5224c76c-62b7-3120-22a0-c2d4831d69a5"},"destination":{"id":"749f62c8-af44-3116-95f5-dfdc63762e9c","type":"PROCESSOR","groupId":"d478bab8-6c6a-363a-9a33-2986335a6821","name":"JSLTTransformJSON","comments":"","instanceIdentifier":"acba603e-045a-336a-f729-705a3aa19aa6"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d478bab8-6c6a-363a-9a33-2986335a6821"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"excel_tracker_config","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"}],"remoteProcessGroups":[],"processors":[{"identifier":"b619ac65-5293-398a-9b5e-0df989cbdc83","instanceIdentifier":"8a280c82-be1b-32ba-8cc9-d27acfcb76fc","name":"GetSequenceId from Data Processing Matrix","comments":"GetSequenceId from Data Processing Matrix","position":{"x":1872.0,"y":320.0},"type":"org.apache.nifi.processors.mongodb.GetMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.5.0"},"properties":{"mongo-client-service":"dac97c4b-173c-323a-8402-99d1ff015bf0","mongo-charset":"UTF-8","Query":"{ \"_id\": { \"$oid\": \"6888abea01533d029c6b9c9a\" } }\n","mongo-date-format":"yyyy-MM-dd'T'HH:mm:ss'Z'","json-type":"Extended","Projection":null,"Mongo Database Name":"#{client_db}","mongo-query-attribute":"_id","results-per-flowfile":null,"Batch Size":null,"Mongo Collection Name":"#{collection}","Sort":null,"use-pretty-printing":"true","Limit":null,"get-mongo-send-empty":"false"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"mongo-charset":{"name":"mongo-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mongo-date-format":{"name":"mongo-date-format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"json-type":{"name":"json-type","displayName":"JSON Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Projection":{"name":"Projection","displayName":"Projection","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mongo-query-attribute":{"name":"mongo-query-attribute","displayName":"Query Output Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"results-per-flowfile":{"name":"results-per-flowfile","displayName":"Results Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sort":{"name":"Sort","displayName":"Sort","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-pretty-printing":{"name":"use-pretty-printing","displayName":"Pretty Print Results JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Limit":{"name":"Limit","displayName":"Limit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"get-mongo-send-empty":{"name":"get-mongo-send-empty","displayName":"Send Empty Result","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"2d656482-53ea-3f29-bf37-a1c1e414bd05","instanceIdentifier":"3c70c0ac-7a79-3f3f-0e70-4b9eb88732f4","name":"LogAttribute","comments":"","position":{"x":1880.0,"y":1392.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"result","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"72ded615-89db-3437-ae1b-0562a7bc318c","instanceIdentifier":"e3ac998e-1245-34b3-d1b0-d0dfed9fa446","name":"UpdateAttribute","comments":"","position":{"x":1864.0,"y":856.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"filename":"#{company}_#{transaction_type}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"79d127a1-cce2-3167-b078-2d8775475d69","instanceIdentifier":"78cc9987-d9ac-3fb9-8d6f-3e898ed293ce","name":"","source":{"id":"2d656482-53ea-3f29-bf37-a1c1e414bd05","type":"PROCESSOR","groupId":"e40232b9-0b1f-3cbe-8047-23769c3def5a","name":"LogAttribute","comments":"","instanceIdentifier":"3c70c0ac-7a79-3f3f-0e70-4b9eb88732f4"},"destination":{"id":"fee2dc2f-daa2-3450-a420-a26df990f189","type":"INPUT_PORT","groupId":"d478bab8-6c6a-363a-9a33-2986335a6821","name":"GetConfigFile","instanceIdentifier":"5224c76c-62b7-3120-22a0-c2d4831d69a5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"e6320fc2-23a9-397f-9417-b58c428d7f31","instanceIdentifier":"fe47dc45-0f3b-30dd-3fbb-15109d4a0224","name":"","source":{"id":"b619ac65-5293-398a-9b5e-0df989cbdc83","type":"PROCESSOR","groupId":"e40232b9-0b1f-3cbe-8047-23769c3def5a","name":"GetSequenceId from Data Processing Matrix","comments":"GetSequenceId from Data Processing Matrix","instanceIdentifier":"8a280c82-be1b-32ba-8cc9-d27acfcb76fc"},"destination":{"id":"39d14607-24e1-3c96-8965-4b99672d09cc","type":"INPUT_PORT","groupId":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80","name":"GetConfigFile","comments":"","instanceIdentifier":"5b5da3d5-7be5-3fbb-6ccc-2c146f336efc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"b3f3a3d4-2138-3a77-8879-a388a2a50887","instanceIdentifier":"742071b8-0198-1000-bb5e-5aaf6caa2d59","name":"","source":{"id":"407d9559-9adf-3594-bc51-4c01bd88d73b","type":"OUTPUT_PORT","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"response","instanceIdentifier":"839aa265-025f-3af2-ffc6-d6ed40943912"},"destination":{"id":"2d656482-53ea-3f29-bf37-a1c1e414bd05","type":"PROCESSOR","groupId":"e40232b9-0b1f-3cbe-8047-23769c3def5a","name":"LogAttribute","comments":"","instanceIdentifier":"3c70c0ac-7a79-3f3f-0e70-4b9eb88732f4"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"015653e0-ddb6-3607-8d62-acce1528e9ae","instanceIdentifier":"1f4197a8-e711-3aeb-054e-08ff546bbb0e","name":"","source":{"id":"675c3b88-a9c4-3ad2-8010-66adad2db0f4","type":"OUTPUT_PORT","groupId":"546c5ae3-d475-3dd4-aa2e-a6ef1bae3b80","name":"data","comments":"","instanceIdentifier":"034c9021-45c9-30b8-19e3-3f8239355601"},"destination":{"id":"72ded615-89db-3437-ae1b-0562a7bc318c","type":"PROCESSOR","groupId":"e40232b9-0b1f-3cbe-8047-23769c3def5a","name":"UpdateAttribute","comments":"","instanceIdentifier":"e3ac998e-1245-34b3-d1b0-d0dfed9fa446"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"c9093996-223d-370d-b44a-38b5c3b7e436","instanceIdentifier":"742033de-0198-1000-6964-0906d7634f1c","name":"","source":{"id":"72ded615-89db-3437-ae1b-0562a7bc318c","type":"PROCESSOR","groupId":"e40232b9-0b1f-3cbe-8047-23769c3def5a","name":"UpdateAttribute","comments":"","instanceIdentifier":"e3ac998e-1245-34b3-d1b0-d0dfed9fa446"},"destination":{"id":"fac5189b-9646-3d67-833c-f9ef3a3679b3","type":"INPUT_PORT","groupId":"b2baa111-75f3-3a92-b247-a68d0c106791","name":"data","comments":"","instanceIdentifier":"e78c0fc3-ff3f-3bf6-3701-1949f040700f"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d9fe5101-1b65-3e36-a1b5-08c0adaea5ea","instanceIdentifier":"2d4bfa39-01ef-3040-9fde-d6b6388f277c","name":"JsonRecordSetWriterT","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"dac97c4b-173c-323a-8402-99d1ff015bf0","instanceIdentifier":"7c67b433-e2a8-31ff-6475-abd7153ca694","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.5.0"},"properties":{"SSL Context Service":null,"Mongo URI":"mongodb+srv://staginguser:3NLRxXCgZ6Cv2S5W@staging-backup.pwzym.mongodb.net/","Database User":null,"Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"ffb38060-1892-356a-9804-fc642c84d12d","instanceIdentifier":"6a5c8138-6eb9-3b26-9ba0-8e1bb7a05741","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"f2587861-4ec4-343e-8f43-3099dd00b7a9","instanceIdentifier":"55318eb1-a670-3162-e659-133110bcb8b8","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"c665eeff-672b-3e11-a6da-745a48b6c626","instanceIdentifier":"371d661c-914f-375e-d13c-7d11056585bd","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"ca20a416-f384-3fa0-941d-c0d9d7a288aa","instanceIdentifier":"9cb567db-f66f-3d6d-3746-878ab553fea1","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":"MM/dd/yyyy","Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"always-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":"HH:mm","schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"a7744aef-6a3b-352b-99e6-bc79141e3f29","instanceIdentifier":"954b01de-81ec-31d5-c9a9-eaf9926c9660","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.5.0"},"properties":{"avro-reg-validated-field-names":"true"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"f32f098b-9602-39f6-af31-2ae313e28ea7","instanceIdentifier":"8f890f04-94be-34a0-cbd1-d33e8873dfcd","name":"DataProcessingReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"9c0eb637-a8c3-3c1b-9528-4fd5c838ac90","instanceIdentifier":"0274bc99-320c-35d3-cb89-cf7f34101bc2","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"true","schema-branch":null,"Trim double quote":"false","CSV Format":"excel","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":"MM/dd/yyyy HH:mm:ss","Escape Character":"\\","Date Format":"MM/dd/yyyy","Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":"a7744aef-6a3b-352b-99e6-bc79141e3f29","csv-reader-csv-parser":"commons-csv","Time Format":"HH:mm:ss","Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"6205c1bb-7327-36d6-a162-e0d87112be8f","instanceIdentifier":"951896c4-6d3a-3d5b-ec54-9885e8a7b5f6","name":"JsonMongoWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"},{"identifier":"9dd6f6cd-c9a6-3548-8b18-50adb457518b","instanceIdentifier":"01768435-b85c-3e34-b297-7738c17cab29","name":"Mysql-DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.5.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"#{db_driver_class}","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:mysql://#{db_host}:#{db_port}/#{db_name}","dbcp-time-between-eviction-runs":"-1","Database User":"#{db_user}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{drivers_directory}#{db_driver_file}","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e40232b9-0b1f-3cbe-8047-23769c3def5a"}],"parameterContextName":"skinlaundry_tb_param_context","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"skinlaundry_tb_param_context":{"name":"skinlaundry_tb_param_context","parameters":[{"name":"config_directory","description":"Root directory to pick the record","sensitive":false,"provided":false,"value":"/opt/config"},{"name":"cursor","description":"","sensitive":false,"provided":false},{"name":"db_query","description":"DB query to pick the trialbalance","sensitive":false,"provided":false,"value":"{\"q\":\"SELECT TL.subsidiary, TAL.account, acc.acctnumber, SUM(TAL.DEBIT) CLOSING_DEBIT, SUM(TAL.CREDIT) CLOSING_CREDIT, NVL(TRNX.TRNX_DR, 0) TRNX_DR, NVL(TRNX.TRNX_CR, 0) TRNX_CR, SUM(TAL.DEBIT) - NVL(TRNX.TRNX_DR, 0) AS OP_DR, SUM(TAL.CREDIT) - NVL(TRNX.TRNX_CR, 0) AS OP_CR FROM transaction TR INNER JOIN transactionLine TL ON TR.ID = TL.transaction INNER JOIN TransactionAccountingLine TAL ON TL.ID = TAL.transactionline AND TAL.transaction = TL.transaction LEFT JOIN account ACC ON TAL.account = ACC.ID LEFT JOIN (SELECT TL.subsidiary AS TRNX_SUBSIDIARY, TAL.account AS TRNX_ACCOUNT, SUM(TAL.DEBIT) AS TRNX_DR, SUM(TAL.CREDIT) AS TRNX_CR FROM transaction TR INNER JOIN transactionLine TL ON TR.ID = TL.transaction INNER JOIN TransactionAccountingLine TAL ON TL.ID = TAL.transactionline AND TAL.transaction = TL.transaction LEFT JOIN account ACC ON TAL.account = ACC.ID WHERE TR.trandate >= '06/01/2025' AND TR.trandate <= '06/30/2025' AND TAL.amount IS NOT NULL AND TR.posting = 'T' AND TL.subsidiary = 3 GROUP BY TL.subsidiary, TAL.account ORDER BY TL.subsidiary, TAL.account) TRNX ON TRNX.TRNX_SUBSIDIARY = TL.subsidiary AND TRNX.TRNX_ACCOUNT = TAL.account WHERE TR.trandate <= '06/30/2025' AND TAL.amount IS NOT NULL AND TR.posting = 'T' AND TL.subsidiary = 3 GROUP BY TL.subsidiary, TAL.account, acc.acctnumber, TRNX.TRNX_DR, TRNX.TRNX_CR ORDER BY TL.subsidiary, acc.acctnumber;\"}, \"request_format\": \"JSON\" }"},{"name":"param_differential","description":"","sensitive":false,"provided":false,"value":"?"},{"name":"request_type","description":"","sensitive":false,"provided":false},{"name":"sync_type","description":"","sensitive":false,"provided":false,"value":"auto"},{"name":"collection","description":"Collection to save the activity logs.","sensitive":false,"provided":false,"value":"bookclosure_dataprocessing_matrix"},{"name":"account_token","description":"Account token to enable comms with Merge API","sensitive":true,"provided":false},{"name":"request_method","description":"","sensitive":false,"provided":false,"value":"POST"},{"name":"request_url","description":"Request URL","sensitive":false,"provided":false},{"name":"transaction_type","description":"","sensitive":false,"provided":false,"value":"tb"},{"name":"type","description":"","sensitive":false,"provided":false,"value":"merge"},{"name":"log_jslt_generator","description":"Log JSLT Transformer","sensitive":false,"provided":false,"value":"[\n    {\n      \n      \"request_url\": .request_url,\n      \"type\": .type,\n      \"subtype\": .subtype,\n      \"request_type\": .request_type,\n      \"erp_type\": .erp_type,\n      \"transaction_type\": .transaction_type,\n      \"method\": .method,\n      \"path\": .path,\n      \"headers\": .headers,\n      \"request_method\": .request_method,\n      \"param_differntial\": .param_differntial,\n      \"cursor\": .cursor,\n      \"request_format\": .request_format,\n      \"syncstatus\": \"inprogress\",\n      \"synctype\": \"auto\",\n      \"steps\": [\n        {\n          \"component\": \"filelisting\",\n          \"component_id\": \"FetchFile\",\n          \"status\": \"done\"\n        }\n      ]\n    }\n]"},{"name":"client_db","description":"Client DB code","sensitive":false,"provided":false,"value":"c10000000088"},{"name":"filename","description":"Config file name for trial balance","sensitive":false,"provided":false,"value":"config-skinlaundry-tb.json"},{"name":"subtype","description":"","sensitive":false,"provided":false,"value":"passthrough"},{"name":"runschedule","description":"","sensitive":false,"provided":false,"value":"120 mins"},{"name":"erp_type","description":"","sensitive":false,"provided":false},{"name":"sync_status","description":"","sensitive":false,"provided":false,"value":"start"},{"name":"mongo-uri","description":"","sensitive":false,"provided":false,"value":"mongodb+srv://staginguser:3NLRxXCgZ6Cv2S5W@staging-backup.pwzym.mongodb.net/"},{"name":"company","description":"","sensitive":false,"provided":false,"value":"skinlaundry"},{"name":"account_token_erp","description":"Account token ERP (Netsuite)","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"},"excel_tracker_config":{"name":"excel_tracker_config","parameters":[{"name":"sqljson","description":"","sensitive":false,"provided":false,"value":"SELECT \n    \"GL Code\" AS glcode, \n    \"Opening Amount\" AS opening_amount, \n    \"Transaction\" AS transaction, \n    \"Audit Entries\" AS audit_entries, \n    \"Closing Amount\" AS closing_amount,\n    \"Location\" AS location\nFROM \n    flowfile"},{"name":"config_directory","description":"","sensitive":false,"provided":false,"value":"/opt/config"},{"name":"company","description":"","sensitive":false,"provided":false,"value":"skinlaundry"},{"name":"File to Fetch","description":"","sensitive":false,"provided":false,"value":"${absolute.path}/${filename}"},{"name":"type","description":"","sensitive":false,"provided":false,"value":"tb"}],"inheritedParameterContexts":["skinlaundry_tb_param_context"],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}