consark-nifi/UnifiedAPI.json
{"flowContents":{"identifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","instanceIdentifier":"9e0427d2-14ee-3498-fe81-7a4d13e3cccb","name":"UnifiedAPI","comments":"","position":{"x":704.0,"y":48.0},"processGroups":[{"identifier":"121afcd9-79fc-334d-8e80-c5d2156dab17","instanceIdentifier":"864cfc09-f259-31c2-1461-25fa83395ab0","name":"MakePaginatedApiWithMerge","comments":"","position":{"x":1930.9665236116784,"y":-112.32951946682377},"processGroups":[],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"}],"remoteProcessGroups":[],"processors":[{"identifier":"f9c9bbc3-98e3-3e62-bbdc-2c64fe4ff70e","instanceIdentifier":"8c2b1abe-0bb5-363c-3362-67d89822dd7d","name":"Evaluate if next exists","comments":"","position":{"x":1856.0,"y":464.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","newCursor":"$.next","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"newCursor":{"name":"newCursor","displayName":"newCursor","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"1ea56b7d-58d7-3ef0-bde1-54801752991d","instanceIdentifier":"ae52fdac-8885-3e7d-2e99-c7704f313dfe","name":"jsonPath EL Functions","comments":"","position":{"x":680.0,"y":-192.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"putElement":"${json:jsonPathPut('$','middlename','Turon')}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","getElement":"${json:jsonPath('$.firstName')}","addElementToArray":"${json:jsonPathAdd('$.nicknames','Funny')}","getListElement":"${json:jsonPath('$.phoneNumbers')}","getChildElement":"${json:jsonPath('$.address.postalCode')}","updateElement":"${json:jsonPathSet('$.firstName', 'Joe')}","Stateful Variables Initial Value":null,"getWhereElement":"${json:jsonPath('$.phoneNumbers[?(@.type==\"home\")].number')}","deleteElement":"${json:jsonPathDelete('$.firstName')}"},"propertyDescriptors":{"putElement":{"name":"putElement","displayName":"putElement","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"getElement":{"name":"getElement","displayName":"getElement","identifiesControllerService":false,"sensitive":false,"dynamic":true},"addElementToArray":{"name":"addElementToArray","displayName":"addElementToArray","identifiesControllerService":false,"sensitive":false,"dynamic":true},"getListElement":{"name":"getListElement","displayName":"getListElement","identifiesControllerService":false,"sensitive":false,"dynamic":true},"getChildElement":{"name":"getChildElement","displayName":"getChildElement","identifiesControllerService":false,"sensitive":false,"dynamic":true},"updateElement":{"name":"updateElement","displayName":"updateElement","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"getWhereElement":{"name":"getWhereElement","displayName":"getWhereElement","identifiesControllerService":false,"sensitive":false,"dynamic":true},"deleteElement":{"name":"deleteElement","displayName":"deleteElement","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"0362bf19-76b9-3e92-b353-445a2b6bed2e","instanceIdentifier":"0362bf19-76b9-3e92-58aa-6d0ae8eb8cd2","name":"UpdateAttribute","comments":"","position":{"x":1184.0,"y":40.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"cursor":"${json:jsonPath('$.cursor')}","Delete Attributes Expression":null,"request_type":"${json:jsonPath('$.request_type')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","account_token":"${json:jsonPath('$.account_token')}","request_method":"${json:jsonPath('$.request_method')}","Stateful Variables Initial Value":null,"account_token_erp":"${json:jsonPath('$.account_token_erp')}","seperator":"${json:jsonPath('$.param_differntial')}","request_url":"${json:jsonPath('$.request_url')}"},"propertyDescriptors":{"cursor":{"name":"cursor","displayName":"cursor","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"request_type":{"name":"request_type","displayName":"request_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"account_token":{"name":"account_token","displayName":"account_token","identifiesControllerService":false,"sensitive":false,"dynamic":true},"request_method":{"name":"request_method","displayName":"request_method","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"account_token_erp":{"name":"account_token_erp","displayName":"account_token_erp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"seperator":{"name":"seperator","displayName":"seperator","identifiesControllerService":false,"sensitive":false,"dynamic":true},"request_url":{"name":"request_url","displayName":"request_url","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"ca793acb-6add-3ed3-aebd-90d53e70e87a","instanceIdentifier":"22cf4e10-6f2a-3a10-c6f5-26dc29cdf6ad","name":"LogAttribute","comments":"","position":{"x":3216.0,"y":592.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":"CONSARK","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"cursor, newCursor","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"b96f2989-25a9-340a-8cd9-630d15049e62","instanceIdentifier":"54f8b76f-2372-3877-e179-f299da708662","name":"UpdateAttribute","comments":"","position":{"x":2520.0,"y":192.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"cursor":"${newCursor}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"cursorexists3":"${newCursor:toString():equals(${cursor:toString()})}"},"propertyDescriptors":{"cursor":{"name":"cursor","displayName":"cursor","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cursorexists3":{"name":"cursorexists3","displayName":"cursorexists3","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"eb789f4d-5c2c-3bf2-a899-19638a654e41","instanceIdentifier":"eb789f4d-5c2c-3bf2-76ba-ad84235f4022","name":"Route on 'UnifiedApi'","comments":"","position":{"x":1184.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Routing Strategy":"Route to 'match' if all match","type":"${json:jsonPath('$.subtype'):equals('unified')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"type":{"name":"type","displayName":"type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"b5d657e3-fe01-3122-a89e-9476fe97d15f","instanceIdentifier":"1894522d-842e-3be7-aa3e-243481b64e45","name":"Check 'Cursor' =  'newCursor'","comments":"","position":{"x":2520.0,"y":464.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Routing Strategy":"Route to Property name","cursor_exists":"${newCursor:toString():trim():equals(${cursor:toString():trim()})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cursor_exists":{"name":"cursor_exists","displayName":"cursor_exists","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"01c29636-118f-3efa-b185-b31f12c9e03e","instanceIdentifier":"1fc6381e-f5ae-176a-e07c-6af5766cf734","name":"LogAttribute","comments":"","position":{"x":2432.0,"y":40.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":"CONSARK","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"cursor newCursor","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"6a4b4b23-4993-3d85-a983-913de0d4eee7","instanceIdentifier":"f49609a1-19f6-30b1-a94a-a83843631b99","name":"InvokeHTTP","comments":"","position":{"x":1864.0,"y":184.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"60 secs","Response Cookie Strategy":"DISABLED","Authorization":"${account_token}","Socket Read Timeout":"60 secs","Socket Idle Connections":"5","Request Body Enabled":"false","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"${request_url}${request_type}${seperator}cursor=${cursor}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"50 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","X-ACCOUNT-TOKEN":"${account_token_erp}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"X-ACCOUNT-TOKEN":{"name":"X-ACCOUNT-TOKEN","displayName":"X-ACCOUNT-TOKEN","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"08ab8474-91a9-30eb-8470-0b0ee9d165c6","instanceIdentifier":"5984ae73-cb9a-3228-3e46-4774bb9cdfb9","name":"ExecuteScript","comments":"","position":{"x":1184.0,"y":480.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.5.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.*\n\n// Read the incoming flow file content (assumed to be a JSON object)\nflowFile = session.get()\nif (!flowFile) return\n\ninputStream = session.read(flowFile)\njsonContent = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\ninputStream.close()\n\n// Parse the JSON content\ndef jsonSlurper = new JsonSlurper()\ndef inputData = jsonSlurper.parseText(jsonContent)\n\n// Initialize a list to hold the flattened data\ndef flattenedData = []\n\n// Function to check and replace null values with 0\ndef safeValue(value) {\n    return value ?: 0\n}\n\n// Ensure 'results' exists and is an array\nif (inputData?.results instanceof List) {\n    // Iterate over each parent object in the results array\n    inputData.results.each { parent ->\n        // Ensure 'general_ledger_transaction_lines' exists and is an array\n        if (parent.general_ledger_transaction_lines instanceof List) {\n            parent.general_ledger_transaction_lines.each { line ->\n                // Flatten the required fields with type checks\n                def flatRecord = [\n                    com_id: line.id,\n                    glcode: parent.company,\n                    date: parent.posting_date,\n                    debit: safeValue(line.debit_amount), // Only debit amount\n                    credit: safeValue(line.credit_amount), // Only credit amount\n                    opening_amount: 0, // Static value\n                    audit_entries: 0,  // Static value\n                    stage: 0,          // Static value\n                    status: true,      // Static value\n                    base_currency: line.base_currency,\n                    f_debit: safeValue(line.foreign_debit_amount), // Safe value for foreign debit\n                    f_credit: safeValue(line.foreign_credit_amount), // Safe value for foreign credit\n                    f_currency: line.transaction_currency\n                ]\n                flattenedData.add(flatRecord)\n            }\n        }\n    }\n}\n\n// Wrap the content in the required structure with 'client' and 'user'\ndef result = flattenedData\n\n// Convert back to JSON string\ndef jsonBuilder = new JsonBuilder(result)\ndef outputContent = jsonBuilder.toPrettyString()\n\n// Write the modified JSON content back to the flow file\nflowFile = session.write(flowFile, { outputStream ->\n    outputStream.write(outputContent.getBytes(StandardCharsets.UTF_8))\n} as OutputStreamCallback)\n\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"457dd259-0141-3e1b-8889-97f1b303a8b2","instanceIdentifier":"776af5ae-1fc6-381e-f368-61d9d71f1680","name":"LogAttribute","comments":"","position":{"x":3216.0,"y":832.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":"CONSARK","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"cursor newCursor","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"}],"inputPorts":[{"identifier":"c55145ec-8a08-3c4a-b251-c7ef20cac577","instanceIdentifier":"ce6ee263-3559-3961-7470-8e787d50823f","name":"unifiedAPI Entry point","comments":"","position":{"x":1208.0,"y":-304.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"}],"outputPorts":[{"identifier":"6c4131fa-eb5c-3fbb-87b0-fff9ab2de0bb","instanceIdentifier":"21b1f422-20f3-3346-11ac-faf600d3aebb","name":"unified exit port","comments":"","position":{"x":1248.0,"y":1024.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"}],"connections":[{"identifier":"b07dd5f4-f16d-3ec7-8e7f-d17b49fc32a9","instanceIdentifier":"f9c87e11-53f9-36cd-83d6-e6bd11841a29","name":"","source":{"id":"b96f2989-25a9-340a-8cd9-630d15049e62","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"UpdateAttribute","comments":"","instanceIdentifier":"54f8b76f-2372-3877-e179-f299da708662"},"destination":{"id":"6a4b4b23-4993-3d85-a983-913de0d4eee7","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"InvokeHTTP","comments":"","instanceIdentifier":"f49609a1-19f6-30b1-a94a-a83843631b99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"438dc5de-58a8-38b2-836f-824d3638ba9e","instanceIdentifier":"e3385ca0-fe8d-3cea-9345-ca651577291a","name":"","source":{"id":"c55145ec-8a08-3c4a-b251-c7ef20cac577","type":"INPUT_PORT","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"unifiedAPI Entry point","comments":"","instanceIdentifier":"ce6ee263-3559-3961-7470-8e787d50823f"},"destination":{"id":"eb789f4d-5c2c-3bf2-a899-19638a654e41","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"Route on 'UnifiedApi'","comments":"","instanceIdentifier":"eb789f4d-5c2c-3bf2-76ba-ad84235f4022"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"f1784a03-b067-3ab0-9f64-6f0cf8c55342","instanceIdentifier":"1fc6381f-f5ae-176a-b7b1-dcfb54cdc6f1","name":"","source":{"id":"6a4b4b23-4993-3d85-a983-913de0d4eee7","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"InvokeHTTP","comments":"","instanceIdentifier":"f49609a1-19f6-30b1-a94a-a83843631b99"},"destination":{"id":"01c29636-118f-3efa-b185-b31f12c9e03e","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"LogAttribute","comments":"","instanceIdentifier":"1fc6381e-f5ae-176a-e07c-6af5766cf734"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"d17a8a1c-384e-3024-8bb9-fb30f236d406","instanceIdentifier":"dc0a6718-39fb-39ec-c5b7-b725714e3d10","name":"","source":{"id":"6a4b4b23-4993-3d85-a983-913de0d4eee7","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"InvokeHTTP","comments":"","instanceIdentifier":"f49609a1-19f6-30b1-a94a-a83843631b99"},"destination":{"id":"f9c9bbc3-98e3-3e62-bbdc-2c64fe4ff70e","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"Evaluate if next exists","comments":"","instanceIdentifier":"8c2b1abe-0bb5-363c-3362-67d89822dd7d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"4a408ff4-d1f3-326b-baa7-3f1875298ac1","instanceIdentifier":"276839ab-6915-3e81-79ce-637b12f30f23","name":"","source":{"id":"08ab8474-91a9-30eb-8470-0b0ee9d165c6","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"ExecuteScript","comments":"","instanceIdentifier":"5984ae73-cb9a-3228-3e46-4774bb9cdfb9"},"destination":{"id":"6c4131fa-eb5c-3fbb-87b0-fff9ab2de0bb","type":"OUTPUT_PORT","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"unified exit port","comments":"","instanceIdentifier":"21b1f422-20f3-3346-11ac-faf600d3aebb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"11f75eff-a6a7-33b6-8264-89306c115114","instanceIdentifier":"be6cf96f-ae60-32d0-5c4b-559e3255dcf0","name":"","source":{"id":"f9c9bbc3-98e3-3e62-bbdc-2c64fe4ff70e","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"Evaluate if next exists","comments":"","instanceIdentifier":"8c2b1abe-0bb5-363c-3362-67d89822dd7d"},"destination":{"id":"b5d657e3-fe01-3122-a89e-9476fe97d15f","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"Check 'Cursor' =  'newCursor'","comments":"","instanceIdentifier":"1894522d-842e-3be7-aa3e-243481b64e45"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"e161251c-53e7-3f22-8ac2-5d45407d78e4","instanceIdentifier":"c18d9d6f-0e42-3cbb-d805-b83de5b555f0","name":"","source":{"id":"6a4b4b23-4993-3d85-a983-913de0d4eee7","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"InvokeHTTP","comments":"","instanceIdentifier":"f49609a1-19f6-30b1-a94a-a83843631b99"},"destination":{"id":"08ab8474-91a9-30eb-8470-0b0ee9d165c6","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"ExecuteScript","comments":"","instanceIdentifier":"5984ae73-cb9a-3228-3e46-4774bb9cdfb9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"6e37c67f-6b12-3be2-b42e-0876ca9e47f8","instanceIdentifier":"0e0fd6c3-5ddc-3047-f0bc-3673fe95b348","name":"","source":{"id":"b5d657e3-fe01-3122-a89e-9476fe97d15f","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"Check 'Cursor' =  'newCursor'","comments":"","instanceIdentifier":"1894522d-842e-3be7-aa3e-243481b64e45"},"destination":{"id":"457dd259-0141-3e1b-8889-97f1b303a8b2","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"LogAttribute","comments":"","instanceIdentifier":"776af5ae-1fc6-381e-f368-61d9d71f1680"},"labelIndex":1,"zIndex":0,"selectedRelationships":["cursor_exists"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"71c4ae73-9253-31ce-b282-dfe2bcda169c","instanceIdentifier":"e289ff43-9faa-3416-a58b-894bdfadb37a","name":"","source":{"id":"b5d657e3-fe01-3122-a89e-9476fe97d15f","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"Check 'Cursor' =  'newCursor'","comments":"","instanceIdentifier":"1894522d-842e-3be7-aa3e-243481b64e45"},"destination":{"id":"b96f2989-25a9-340a-8cd9-630d15049e62","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"UpdateAttribute","comments":"","instanceIdentifier":"54f8b76f-2372-3877-e179-f299da708662"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"770b953f-1f0f-37ad-8f9e-4b14b352cc4a","instanceIdentifier":"f1c7e3ca-d242-3144-df91-13b4c4acc7c1","name":"","source":{"id":"0362bf19-76b9-3e92-b353-445a2b6bed2e","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"UpdateAttribute","comments":"","instanceIdentifier":"0362bf19-76b9-3e92-58aa-6d0ae8eb8cd2"},"destination":{"id":"6a4b4b23-4993-3d85-a983-913de0d4eee7","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"InvokeHTTP","comments":"","instanceIdentifier":"f49609a1-19f6-30b1-a94a-a83843631b99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"783c26c2-ab5b-3785-b892-78ddd0bfede0","instanceIdentifier":"783c26c2-ab5b-3785-a9c1-37c0efb11c53","name":"","source":{"id":"eb789f4d-5c2c-3bf2-a899-19638a654e41","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"Route on 'UnifiedApi'","comments":"","instanceIdentifier":"eb789f4d-5c2c-3bf2-76ba-ad84235f4022"},"destination":{"id":"0362bf19-76b9-3e92-b353-445a2b6bed2e","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"UpdateAttribute","comments":"","instanceIdentifier":"0362bf19-76b9-3e92-58aa-6d0ae8eb8cd2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"0e448464-7820-3096-8fa7-8e00c8d674cc","instanceIdentifier":"ea049662-5de7-33d3-14a6-f29beb080b20","name":"","source":{"id":"b5d657e3-fe01-3122-a89e-9476fe97d15f","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"Check 'Cursor' =  'newCursor'","comments":"","instanceIdentifier":"1894522d-842e-3be7-aa3e-243481b64e45"},"destination":{"id":"ca793acb-6add-3ed3-aebd-90d53e70e87a","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"LogAttribute","comments":"","instanceIdentifier":"22cf4e10-6f2a-3a10-c6f5-26dc29cdf6ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"},{"identifier":"29fc1b40-aa8a-3671-873e-e51dbff923d2","instanceIdentifier":"29fc1b40-aa8a-3671-71c1-58428c85013d","name":"","source":{"id":"0362bf19-76b9-3e92-b353-445a2b6bed2e","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"UpdateAttribute","comments":"","instanceIdentifier":"0362bf19-76b9-3e92-58aa-6d0ae8eb8cd2"},"destination":{"id":"6a4b4b23-4993-3d85-a983-913de0d4eee7","type":"PROCESSOR","groupId":"f995681e-bcfe-371e-9310-3a7da9c5f2a1","name":"InvokeHTTP","comments":"","instanceIdentifier":"f49609a1-19f6-30b1-a94a-a83843631b99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f995681e-bcfe-371e-9310-3a7da9c5f2a1"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"a7744aef-6a3b-352b-99e6-bc79141e3f29","instanceIdentifier":"a7744aef-6a3b-352b-d81a-8c5d94dac6a4","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.5.0"},"properties":{"avro-reg-validated-field-names":"true"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e0427d2-14ee-3498-fe81-7a4d13e3cccb"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}